### Import Library

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Request URL & Urai kode HTML dengan BeautifulSoup

In [42]:
#Base URL
url = 'https://pokemondb.net/pokedex/national'

def page(url):
    r = requests.get(url)
    html_doc = r.text
    soup = BeautifulSoup(html_doc,'html.parser')
    return soup
Pokedex = page(url)
Pokedex.title.text

'List of Pokémon (sprites gallery) | Pokémon Database'

### Cari elemen menggunakan Tag Div

In [ ]:
pokemon = Pokedex.find_all("div", class_="infocard")
pokemon = pokemon[:50]
pokemon[:5]

### Inisiasi List Container

In [61]:
NamaPokemon = []
TipePokemon = []
Health = []
Attack = []
Defense = []
SpAtk = []
SpDef = []
Speed = []

### Extract Text dari Elemen HTML

In [77]:
ListStat = []

for i in range(len(pokemon)):
    Temp = []

    #Cari Nama Pokemon
    Nama = pokemon[i].find("a", {"class":"ent-name"})
    NamaPokemon.append(Nama.text)

    #Cari Tipe Pokemon
    Tipe = pokemon[i].find_all("small")
    TipePokemon.append(Tipe[1].find("a").text)

    #Cari Base Stat Pokemon
    Link = "https://pokemondb.net/"+pokemon[i].find("span", {"class":"infocard-lg-img"}).a["href"]
    PokeStat = page(Link)
    PokeTable = PokeStat.find_all('table')
    BaseStat = PokeTable[3].find_all('td',{"class":"cell-num"})

    for j in range(0, len(BaseStat),3):
        Temp.append(BaseStat[j].text)
    ListStat.append(Temp)

In [71]:
print("Stat Bulbasaur: ",ListStat[0])
for i in range(len(ListStat)):   
    Health.append(ListStat[i][0])
    Attack.append(ListStat[i][1])
    Defense.append(ListStat[i][2])
    SpAtk.append(ListStat[i][3])
    SpDef.append(ListStat[i][4])
    Speed.append(ListStat[i][5])

Stat Bulbasaur:  ['45', '49', '49', '65', '65', '45']

In [75]:
print("Nama    : ",NamaPokemon[0:5])
print("Tipe    : ",TipePokemon[0:5])
print("Health  : ",Health[0:5])
print("Attack  : ",Attack[0:5])
print("Defence : ",Defense[0:5])
print("Sp.Atk  : ",SpAtk[0:5])
print("Sp.Def  : ",SpDef[0:5])
print("Speed   : ",Speed[0:5])

Nama    :  ['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon']
Tipe    :  ['Grass', 'Grass', 'Grass', 'Fire', 'Fire']
Health  :  ['45', '60', '80', '39', '58']
Attack  :  ['49', '62', '82', '52', '64']
Defence :  ['49', '63', '83', '43', '58']
Sp.Atk  :  ['65', '80', '100', '60', '80']
Sp.Def  :  ['65', '80', '100', '50', '65']
Speed   :  ['45', '60', '80', '65', '80']

In [85]:
dictPokemon = {'Name':NamaPokemon,
                'Type':TipePokemon,
                'Health':Health,
                'Attack':Attack,
                'Defense':Defense,
                'Sp.Atk':SpAtk,
                'Sp.Def':SpDef,
                'Speed':Speed}

df = pd.DataFrame(dictPokemon)
df.head()

         Name   Type Health Attack Defense Sp.Atk Sp.Def Speed
0   Bulbasaur  Grass     45     49      49     65     65    45
1     Ivysaur  Grass     60     62      63     80     80    60
2    Venusaur  Grass     80     82      83    100    100    80
3  Charmander   Fire     39     52      43     60     50    65
4  Charmeleon   Fire     58     64      58     80     65    80

In [66]:
df['Health'] = df['Health'].astype(int)
df['Attack'] = df['Attack'].astype(int)
df['Defense'] = df['Defense'].astype(int)
df['Sp.Atk'] = df['Sp.Atk'].astype(int)
df['Sp.Def'] = df['Sp.Atk'].astype(int)
df['Speed'] = df['Speed'].astype(int)

df['Total'] = df['Health'] + df['Attack'] + df['Defense'] + df['Sp.Atk'] + df['Sp.Def'] + df['Speed']

df.sort_values('Total',ascending=False).head()

         Name    Type  Health  Attack  Defense  Sp.Atk  Sp.Def  Speed  Total
5   Charizard    Fire      78      84       78     109     109    100    558
2    Venusaur   Grass      80      82       83     100     100     80    525
33   Nidoking  Poison      81     102       77      85      85     85    515
8   Blastoise   Water      79      83      100      85      85     78    510
44  Vileplume   Grass      75      80       85     110     110     50    510

In [86]:
df.to_csv('PokemonExample.csv',index=False)